[Unit]
Description=Solar
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u solar.py
WorkingDirectory=/home/pi/solarpi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
